<li>
  {{#if this.isEditing}}
    <form {{on 'submit' this.edit}}>
      <label>
        {{! @glint-expect-error }}
        <Input @value={{this.text}} {{autofocus}} />
      </label>
      <button type='submit'>Save</button>
      <button type='button' {{on 'click' this.toggleEdit}}>Cancel</button>
    </form>
  {{else}}
    {{@todo.text}}
    <button type='button' {{on 'click' this.toggleEdit}}>Edit</button>
    <button type='button' {{on 'click' this.remove}}>Delete</button>
  {{/if}}
</li>